#root {
  width: 100%;
  height: 100vh;
  color: white;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  background-color: var(--darkish-blue);
  max-width: 40rem;
  border-radius: 10px;
  padding: 2rem;
  background-image: url(./bg-image-random-quote.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.author {
  font-size: 1.3rem;
  text-align: center;
}

.categories {
  display: flex;
  gap: 1rem;
}

.categories li {
  font-size: .8rem;
  color: var(--violet);
  border: 1px solid var(--violet);
  padding: .2rem 1rem;
  border-radius: 20px;
}

.quote {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--light-grayish-blue);
}

.controls {
  max-width: 40rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  --border-radius: 15px;
}

.controls button{
  background-color: transparent;
  border: 1.5px solid var(--gray);
  padding: .8rem 1rem;
  display: flex;
  align-items: center;

}

.controls .random {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.controls .copy {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}